
.a-chart {
  margin: 0 -18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.a-chart * {
  font: 14px/20px Roboto, "Lucida Sans Unicode", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Helvetica, "Lucida Grande", "Segoe UI", Arial, Tahoma, Verdana, sans-serif;
  color: #222;
}

.app.dark .a-chart * {
  color: #fff;
}

.a-chart__header {
  position: relative;
  height: 20px;
  margin: 18px 18px 0;
}

.a-chart__title {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  transition: transform .5s, opacity .5s;
}

.a-chart.is-zoomed .a-chart__title {
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  -o-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: translateY(-10px) scale(0.5);
  -moz-transform: translateY(-10px) scale(0.5);
  -ms-transform: translateY(-10px) scale(0.5);
  -o-transform: translateY(-10px) scale(0.5);
  transform: translateY(-10px) scale(0.5);
  opacity: 0;
}

.a-chart__zoom-out {
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  -o-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: translateY(10px) scale(0.5);
  -moz-transform: translateY(10px) scale(0.5);
  -ms-transform: translateY(10px) scale(0.5);
  -o-transform: translateY(10px) scale(0.5);
  transform: translateY(10px) scale(0.5);
  position: absolute;
  opacity: 0;
  font-size: 16px;
  font-weight: 500;
  color: #108BE3;
  cursor: pointer;
}
.a-chart.is-animated .a-chart__zoom-out {
  transition: transform .5s, opacity .5s;
}
.a-chart__zoom-out:before {
  content: '';
  background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"%3E%3Cpath style="fill: %23108be3" d="M9,2C5.1,2,2,5.1,2,9s3.1,7,7,7c1.7,0,3.3-0.7,4.6-1.7l0.4,0.4V16l5.6,5.6c0.6,0.6,1.4,0.6,2,0s0.6-1.4,0-2L16,14h-1.3 l-0.4-0.4C15.3,12.3,16,10.7,16,9C16,5.1,12.9,2,9,2z M9,4c2.8,0,5,2.2,5,5s-2.2,5-5,5s-5-2.2-5-5S6.2,4,9,4z M10.8,10.1H7.2 c-0.6,0-1.1-0.5-1.1-1.1v0c0-0.6,0.5-1.1,1.1-1.1h3.6c0.6,0,1.1,0.5,1.1,1.1v0C11.9,9.6,11.4,10.1,10.8,10.1z"/%3E%3C/svg%3E%0A');
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  background-size: 20px;
  margin-right: 5px;
}

.a-chart.is-zoomed .a-chart__zoom-out {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}

.a-chart__date-canvas {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

.a-chart.is-zoomed .a-chart__date-canvas, .a-chart.is-zooming .a-chart__date-canvas {
  display: none;
}

.a-chart__date {
  -webkit-transform-origin: center right;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  -o-transform-origin: center right;
  transform-origin: center right;
  position: absolute;
  text-align: right;
  right: 0;
  font-weight: 500;
  z-index: 100;
  white-space: nowrap;
}

.a-chart__date.is-next {
  -webkit-transform-origin: center right;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  -o-transform-origin: center right;
  transform-origin: center right;
  -webkit-transform: translateY(10px) scale(0.5);
  -moz-transform: translateY(10px) scale(0.5);
  -ms-transform: translateY(10px) scale(0.5);
  -o-transform: translateY(10px) scale(0.5);
  transform: translateY(10px) scale(0.5);
  opacity: 0;
}

.a-chart__date.is-updating {
  -webkit-transform-origin: center right;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  -o-transform-origin: center right;
  transform-origin: center right;
  -webkit-transform: translateY(-10px) scale(0.5);
  -moz-transform: translateY(-10px) scale(0.5);
  -ms-transform: translateY(-10px) scale(0.5);
  -o-transform: translateY(-10px) scale(0.5);
  transform: translateY(-10px) scale(0.5);
  transition: transform .3s, opacity .3s;
  opacity: 0;
}

.a-chart__date.is-updating + .a-chart__date.is-next {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: absolute;
  opacity: 1;
  transition: transform .3s, opacity .3s;
}

.a-chart__view {
  height: 430px;
  max-height: 75vmin;
  position: relative;
}

@media only screen and (min-width: 801px) {
  /* Kinda hacky way to hide chart content from overlapping paddings on wider screens */
  .a-chart__view:before, .a-chart__view:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 20px;
    z-index: 1000;
    pointer-events: none;
  }

  .a-chart__view:before {
    left: 0px;
  }

  .a-chart__view:after {
    right: 0px;
  }

}

.a-chart__view-mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.app:not(.dark) .a-chart__view-mask {
  background: rgba(255, 255, 255, 0.5);
}

.app.dark .a-chart__view-mask {
  background: rgba(36, 47, 62, 0.5);
}


.a-chart.is-animated .a-chart__view-mask {
  transition: opacity .3s;
}

.a-chart__grid-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 0 18px;
  pointer-events: none;
}

.a-chart.is-zoomable .a-chart__grid-container {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__grid-container {
  cursor: default;
}

.a-chart__y-label {
  position: absolute;
  opacity: 0;
  left: 3px;
  right: auto;
  bottom: 0;
}

.a-chart__y-label.is-pooled {
  transition: none !important;
  opacity: 0 !important;
}

.a-chart__y-label.is-right {
  left: auto;
  right: 3px;
}

.a-chart.is-animated .a-chart__y-label {
  transition: opacity .3s;
}

.a-chart__y-line {
  position: absolute;
  height: 1px;
  width: 100%;
  opacity: 0;
  bottom: 0;
  pointer-events: none;
}

.a-chart__y-line.is-pooled {
  transition: none !important;
  opacity: 0 !important;
}

.a-chart.is-zoomable .a-chart__y-line {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__y-line {
  cursor: default;
}

.app:not(.dark) .a-chart__y-line {
  background: rgba(24, 45, 59, 0.1);
}

.app.dark .a-chart__y-line {
  background: rgba(255, 255, 255, 0.1);
}

.a-chart.is-animated .a-chart__y-line {
  transition: opacity .3s; 
}

.a-chart__x-axis {
  position: relative;
  overflow: hidden;
  height: 35px;
  margin: 0 -18px;
}

.a-chart__x-label {
  position: absolute;
  top: 5px;
  left: 0px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.a-chart__x-label.is-pooled {
  transition: none !important;
  opacity: 0 !important;
}

.a-chart.is-animated .a-chart__x-label {
  transition: opacity .3s;
}

.a-chart.is-animated.is-zoomed .a-chart__x-label {
  transition: opacity .3s, transform .3s;
}

.a-chart__x-axis, .a-chart__y-label {
  font-size: 12px;
}

.app:not(.dark) .a-chart__x-axis, .app:not(.dark) .a-chart__y-label {
  color: #96a2aa;
  color: rgba(24, 45, 59, 0.45);
}

.app.dark .a-chart__x-axis, .app.dark .a-chart__y-label {
  color: #546778;
  color: rgba(255, 255, 255, 0.45);
}

.a-chart__top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.app:not(.dark) .a-chart__top-overlay {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00ffffff',GradientType=0);
}

.app.dark .a-chart__top-overlay {
  background: -moz-linear-gradient(top, rgba(36,47,62,1) 0%, rgba(36,47,62,0) 100%);
  background: -webkit-linear-gradient(top, rgba(36,47,62,1) 0%,rgba(36,47,62,0) 100%);
  background: linear-gradient(to bottom, rgba(36,47,62,1) 0%,rgba(36,47,62,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242f3e',endColorstr='#00242f3e',GradientType=0);
}

.a-chart__selection-line {
  display: none;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.a-chart.is-zoomable .a-chart__selection-line {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__selection-line {
  cursor: default;
}

.app:not(.dark) .a-chart__selection-line {
  background: rgba(24, 45, 59, 0.1);
}

.app.dark .a-chart__selection-line {
  background: rgba(255, 255, 255, 0.1);
}

.a-chart__selection-bubble {
  display: none;
  width: 5px;
  height: 5px;
  margin-left: -5px;
  margin-bottom: -5px;
  border: 2px solid #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 12px;
  pointer-events: none;
}

.a-chart.is-zoomable .a-chart__selection-bubble {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__selection-bubble {
  cursor: default;
}

.a-chart.is-animated .a-chart__selection-bubble.is-animated {
  transition: bottom .3s, opacity .3s;
}

.app:not(.dark) .a-chart__selection-bubble {
  background: #fff;
}

.app.dark .a-chart__selection-bubble {
  background: #242f3e;
}

.a-chart__selection-box {
  display: none;
  position: absolute;
  top: 0px;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 10px;
  border-radius: 10px;
  width: 290px;
  flex-direction: column;
  z-index: 100;
}

.a-chart.is-animated .a-chart__selection-box {
  transition: left .3s, top .3s;
}

.a-chart.is-animated.is-pie .a-chart__selection-box {
  transition: transform .3s;
}

.a-chart__selection-box.is-center {
  left: -95px;
}

.a-chart__selection-box.is-left {
  top: 35px;
  left: -320px;
}

.a-chart__selection-box.is-right {
  top: 35px;
  left: 10px;
}

.a-chart.is-zoomable .a-chart__selection-box {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__selection-box {
  cursor: default;
  pointer-events: none;
}

.app:not(.dark) .a-chart__selection-box {
  border: 1px solid #e3e3e3;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.08);
}

.app.dark .a-chart__selection-box {
  background: #1c2533;
}

.a-chart__selection-box-header {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.a-chart__selection-box-title {
  flex: 1;
  font-weight: 500;
  pointer-events: none;
}

.a-chart__selection-box-arrow {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 24" width="100%25" height="100%25"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M0 0h16v24H0z"%3E%3C/path%3E%3Cpath d="M4.706 7.706a1 1 0 0 1 0-1.412l.088-.088a.997.997 0 0 1 1.414.002l5.084 5.084a.998.998 0 0 1 0 1.416l-5.084 5.084a1.002 1.002 0 0 1-1.414.002l-.088-.088a.995.995 0 0 1 0-1.412L9 12 4.706 7.706z" fill="%23D2D5D7"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
  background-size: 14px 21px;
  width: 14px;
  height: 21px;
  pointer-events: none;
  margin-top: 0px;
  margin-right: -3px;
}

.a-chart__selection-box.is-overflown:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -20px;
  right: -20px;
}

.a-chart__selection-box.is-overflown .a-chart__selection-box-body {
  overflow-y: auto;
  max-height: 192px;
  margin-right: -5px;
  padding-right: 5px;
}

.a-chart__selection-box-row {
  display: flex;
  pointer-events: none;
}

.a-chart__selection-box-percent {
  width: 38px;
  text-align: right;
  padding-right: 7px;
  font-weight: 500;
  pointer-events: none;
}

.a-chart__selection-box-label {
  flex: 1;
  pointer-events: none;
}

.a-chart__selection-box-value {
  text-align: right;
  font-weight: 500;
  pointer-events: none;
}

.a-chart__view-canvas {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

.a-chart__view-canvas:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.a-chart.is-zoomable .a-chart__view-canvas {
  cursor: pointer;
}

.a-chart.is-zoomed .a-chart__view-canvas {
  cursor: default;
}

.a-chart__overview {
  position: relative;
  height: 54px;
  padding: 2px 0px;
  max-height: 10vh;
  margin: 0 18px;
  border-radius: 9px;
}

.a-chart.is-animated .a-chart__overview {
  transition: opacity .5s, transform .5s;
}

.a-chart__overview.is-hidden {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.a-chart__overview-canvas {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
}

.a-chart__overview-overlay-canvas {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: -18px;
}

.a-chart__legend {
  color: #43484b;
  padding: 9px 15px 0;
  margin-top: -3px;
  margin-bottom: 14px;
}

.app.dark .a-chart__legend {
  color: #e8ecee;
}

.a-chart__legend-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  margin: 8px 3px 0px;
  padding: 8px 24px 8px 24px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 0px 2px currentColor;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/*
.a-chart__legend-item:active {
  filter: brightness(90%);
  background-color: rgba(128, 128, 128, 0.1);
}
*/

.app.dark .a-chart__legend-item {
  border-color: #344658;
}

.a-chart.is-animated .a-chart__legend-item {
  transition: background-color .3s, padding-left .3s, padding-right .3s, opacity .5s, transform .5s/*, filter .5s, background-color .5s*/;
}

.a-chart__legend.is-hidden {
  max-height: 54px;
}

.a-chart__legend.is-hidden .a-chart__legend-item {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.a-chart__overview.is-hidden + .a-chart__legend,
.a-chart__overview + .a-chart__legend.is-hidden,
.a-chart__overview + .a-chart__legend.is-hiding {
  margin-top: -55px;
}

.a-chart__legend-item.is-active {
  /*box-shadow: inset 0px 0px 0px 36px currentColor;*/
  background-color: currentColor;
  padding-left: 32px;
  padding-right: 16px;
}

.a-chart__legend-label {
  display: inline-block;
}

.a-chart.is-animated .a-chart__legend-label {
  transition: color .3s;
}

.a-chart__legend-item.is-active .a-chart__legend-label {
  color: #fff;
}

.a-chart__legend-checkmark {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top: 6px;
  left: 6px;
  /*margin: -2px 4px -2px -5px;*/
  width: 24px;
  height: 24px;
}

.a-chart.is-animated .a-chart__legend-checkmark {
  transition: transform 0.3s;
}

.a-chart__legend-item.is-active .a-chart__legend-checkmark {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.a-chart__legend-checkmark:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNS4wOSAxOC43MyI+PHBhdGggc3R5bGU9ImZpbGw6I2ZmZiIgZD0iTTIwLC44OCw5LjM3LDExLjQ4LDUuMTIsNy4yNEEzLDMsMCwwLDAsLjg4LDExLjQ4bDYuMzcsNi4zNmEzLDMsMCwwLDAsNC4yNCwwaDBMMjQuMjEsNS4xMkEzLDMsMCwxLDAsMjAsLjg4WiIvPjwvc3ZnPg==');
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 12px;
  height: 9px;
  display: inline-block;
  background-color: transparent;
}

.a-chart.is-animated .a-chart__legend-checkmark:before {
  transition: transform 0.3s;
}

.a-chart__legend-item.is-active .a-chart__legend-checkmark:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.a-chart__no-data {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 0px;
  font-size: 22px;
  text-align: center;
  color: #96a2aa;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.a-chart__loading {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  transition: .5s opacity;
}

.app.dark .a-chart__loading {
  background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%2356626D" d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"/%3E%3C/svg%3E');
}

.app:not(.dark) .a-chart__loading {
  background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23C0D1E1" d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"/%3E%3C/svg%3E');
}

.a-chart.is-loading .a-chart__loading {
  opacity: 1;
  animation: spinner .6s linear infinite;
}